# Python
__pycache__/
*.py[cod]

# Virtual Environment
.env
.venv
venv/
env/

# Logs
*.log

# Database
*.sqlite3

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/

# Cache
.cache/
.pytest_cache/
.mypy_cache/
