# https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
pyrofork==2.3.61
TgCrypto
pyromod==1.5
schedule
APScheduler

# --- Database ---
motor
pymongo
dnspython

# --- Web / Keep Alive ---
aiohttp
python-dotenv
aiofiles

# --- Utilities ---
pytz
requests
bs4
shortzy
